# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#

#
## These files are text and should be normalized (Convert crlf => lf)
#

# source code
*.js text
*.coffee text
*.json text
*.html text
*.sh text
*.bat text

# git config
.gitattributes text
.gitignore text

# code analysis config
.jshintrc text
.jscsrc text
.jshintignore text

# build config
*.npmignore text
*.bowerrc text

# Documentation
*.md text
LICENSE text
AUTHORS text
