module('test')
  describe('amcss')
    it('should output amcss for a given properties')
      am(module)
        color: red;
      am(module, blue)
        color: blue;
      am(module, large)
        font-size: 2em;

    throws('throws a error')
      error()
